.about {
  background-image:
    image-set(
      url("../../img/about-mob@1x.webp") type("image/webp") 1x,
      url("../../img/about-mob@2x.webp") type("image/webp") 2x,
      url("../../img/about-mob@1x.png") type("image/png") 1x,
      url("../../img/about-mob@2x.png") type("image/png") 2x
    );
  background-position: top 20px center;
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    background-image:
      image-set(
        url("../../img/about-tab@1x.webp") type("image/webp") 1x,
        url("../../img/about-tab@2x.webp") type("image/webp") 2x,
        url("../../img/about-tab@1x.png") type("image/png") 1x,
        url("../../img/about-tab@2x.png") type("image/png") 2x
      );
    background-position: center left;
  }

  @media (min-width: $desctop) {
    background-image:
      image-set(
        url("../../img/about-desc@1x.webp") type("image/webp") 1x,
        url("../../img/about-desc@2x.webp") type("image/webp") 2x,
        url("../../img/about-desc@1x.png") type("image/png") 1x,
        url("../../img/about-desc@2x.png") type("image/png") 2x
      );
  }
}

.about__wrapper {
  margin: 0 auto;
  padding: 436px 15px 20px;

  @media (min-width: $tablet) {
    padding: 60px 48px 15px 450px;
  }

  @media (min-width: $desctop) {
    padding: 145px 120px 100px 660px;
  }
}

.about__wrapper h2 {
  position: relative;
  font-weight: 800;
  font-size: 22px;
  line-height: 100%;
  margin: 0 0 42px;

  &::after {
    position: absolute;
    content: attr(data-title);
    top: -16px;
    left: 0;
    font-weight: 800;
    font-size: 26px;
    line-height: 100%;
    color: $primary;
    opacity: 0.03;
  }

  @media (min-width: $tablet) {
    font-size: 25px;
    margin: 0 0 46px;

    &::after {
      font-size: 40px;
    }
  }

  @media (min-width: $desctop) {
    font-size: 35px;
    margin: 0 0 57px;

    &::after {
      font-size: 55px;
    }
  }
}

.about__wrapper h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  margin: 0 0 15px;

  @media (min-width: $tablet) {
    font-size: 18px;
  }

  @media (min-width: $desctop) {
    font-size: 21px;
    margin: 0 0 20px;
  }
}

.about__wrapper p:first-of-type {
  margin: 0 0 25px;
}

.about__wrapper p {
  font-size: 14px;
  line-height: 143%;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 150%;
  }

  @media (min-width: $desctop) {
    width: 585px;
    font-size: 14px;
    line-height: 157%;
  }
}
