.adv {
  @media (min-width: $tablet) {
    background-image:
      image-set(
        url("../../img/clouds-tab-3@1x.webp") type("image/webp") 1x,
        url("../../img/clouds-tab-3@2x.webp") type("image/webp") 2x,
        url("../../img/clouds-tab-3@1x.png") type("image/png") 1x,
        url("../../img/clouds-tab-3@2x.png") type("image/png") 2x
      );
    background-repeat: no-repeat;
    background-position: center bottom 103px;
  }

  @media (min-width: $desctop) {
    background-image: none;
  }
}

.adv__wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 36px 15px 20px;

  @media (min-width: $tablet) {
    padding: 60px 45px 40px;
  }

  @media (min-width: $desctop) {
    padding: 0 0 100px;
  }
}

.adv__title {
  margin-bottom: 37px;

  &::after {
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $desctop) {
    margin-bottom: 50px;
  }
}

.adv__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  @media (min-width: $desctop) {
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }
}

.adv__item {
  position: relative;
  padding: 81px 10px 20px;
  border: 1px solid $additional-20;
  background-color: $white-100;

  &::after {
    position: absolute;
    content: "";
    top: 19px;
    left: 50%;
    transform: translateX(-50%);
    width: 42px;
    height: 42px;
    border: 1px solid $additional-100;
    background-position: center center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet) {
    width: 324px;
    min-height: 340px;
    padding: 103px 20px 30px;

    &::after {
      top: 30px;
      width: 48px;
      height: 48px;
    }
  }

  @media (min-width: $desctop) {
    width: auto;
    min-width: 380px;
    min-height: 329px;
    padding: 124px 20px 40px;

    &::after {
      top: 40px;
      width: 54px;
      height: 54px;
    }
  }
}

.adv__item--safety::after {
  background-image: url("/__spritemap#sprite-icon-shield-view");
}

.adv__item--info::after {
  background-image: url("/__spritemap#sprite-icon-crown-view");
}

.adv__item--equipment::after {
  background-image: url("/__spritemap#sprite-icon-boot-2-view");
}

.adv__item--routes::after {
  background-image: url("/__spritemap#sprite-icon-path-view");
}

.adv__item--eco::after {
  background-image: url("/__spritemap#sprite-icon-leaf-view");
}

.adv__item h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  margin: 0 0 15px;

  @media (min-width: $tablet) {
    font-size: 16px;
  }

  @media (min-width: $desctop) {
    font-size: 18px;
  }
}

.adv__item--eco h3 {
  width: 246px;
  margin: 0 auto 15px;

  @media (min-width: $tablet) {
    width: auto;
  }
}

.adv__item p {
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 157%;
  }
}

.adv__button-wrapper {
  display: none;

  @media (min-width: $desctop) {
    display: flex;
    justify-content: center;
  }
}
