.button {
  display: inline-block;
  font-family: $montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: $white-100;
  background-color: $additional-100;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
