.contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  @media (min-width: $tablet) {
    flex-direction: column;
    gap: 35px;
  }
}

.contacts__item {
  position: relative;
  padding: 0 0 0 32px;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
  }

  @media (min-width: $tablet) {
    padding: 0 0 0 34px;

    &::after {
      width: 24px;
      height: 24px;
    }
  }

  @media (min-width: $desctop) {
    padding: 0 0 0 56px;

    &::after {
      width: 26px;
      height: 26px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.contacts__item--tel::after {
  background-image: url("/__spritemap#sprite-icon-phone-view");
}

.contacts__item--email::after {
  background-image: url("/__spritemap#sprite-icon-mail-view");
  height: 16px;

  @media (min-width: $tablet) {
    height: 18px;
  }
}

.contacts__item--address::after {
  background-image: url("/__spritemap#sprite-icon-pin-stroke-view");
}

.contacts__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  margin: 0 0 8px;

  @media (min-width: $tablet) {
    font-size: 16px;
    margin: 0 0 6px;
  }

  @media (min-width: $desctop) {
    font-size: 18px;
    margin: 0 0 8px;
  }
}

.contacts__link,
.contacts__span {
  font-family: $montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: $primary;
  text-decoration: none;

  @media (min-width: $tablet) {
    line-height: 157%;
  }

  @media (min-width: $desctop) {
    font-size: 16px;
    line-height: 150%;
  }
}

.contacts__span br {
  @media (min-width: $tablet) {
    display: none;
  }
}
