.footer {
  margin: 0 auto;

  @media (min-width: $desctop) {
    display: grid;
    align-items: center;
    grid-template-columns: 500px 600px;
    gap: 95px 100px;
    padding: 100px 120px 32px;
    max-width: 1440px;
  }
}

.footer__contacts {
  padding: 36px 15px 30px;

  @media (min-width: $tablet) {
    padding: 60px 43px 40px 45px;
  }

  @media (min-width: $desctop) {
    margin-top: 23px;
    padding: 0;
  }
}

.footer__title {
  margin-bottom: 29px;

  &::after {
    top: -13px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $desctop) {
    margin-bottom: 22px;
  }
}

.footer__contacts p {
  font-size: 14px;
  line-height: 143%;
  margin: 0 0 30px;

  @media (min-width: $tablet) {
    width: 480px;
    font-size: 16px;
    line-height: 150%;
    margin: 0 0 40px;
  }

  @media (min-width: $desctop) {
    margin: 0 0 50px;
  }
}

.footer__image {
  display: block;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 40px;
  }

  @media (min-width: $desctop) {
    margin-bottom: 0;
  }
}

.footer__bottom {
  position: relative;
  padding: 23px 20px 20px;

  &::after {
    position: absolute;
    content: "";
    top: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(213, 215, 217);
  }

  @media (min-width: $tablet) {
    padding: 34px 43px 20px 47px;
  }

  @media (min-width: $desctop) {
    grid-column: 1/3;
    padding: 32px 0 0;
  }
}

.footer__nav-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 34px;
    gap: 38px;
  }

  @media (min-width: $desctop) {
    justify-content: space-between;
    margin-bottom: 22px;
  }
}

.footer__link {
  justify-content: center;
  margin-bottom: 16px;
  transform: translateX(-2px);

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media (min-width: $desctop) {
    padding: 9px 33px 9px 29px;
  }
}

.footer__nav {
  display: block;
  margin-bottom: 17px;
  text-transform: capitalize;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.footer__nav-list {
  display: grid;
  grid-template-columns: 120px 120px;
  gap: 3px 51px;
  text-align: center;
  justify-content: space-between;
  margin-left: -6px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  @media (min-width: $desctop) {
    gap: 31px;
  }
}

.footer__nav-item:nth-child(2),
.footer__nav-item:nth-child(3) {
  grid-column: 1/2;
}

.footer__nav-item:nth-child(4) {
  grid-column: 2/3;
  grid-row: 1/2;
}

.footer__nav-item:nth-child(5) {
  grid-column: 2/3;
  grid-row: 2/3;

  @media (min-width: $tablet) {
    margin-left: 2px;
  }
}

.footer__nav-item:nth-child(6) {
  @media (min-width: $tablet) {
    margin-left: -2px;
  }
}

.footer__nav-link {
  color: $primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.1px;
  text-transform: none;

  &:hover {
    border-bottom: 1px solid $primary;
  }

  &:focus {
    border: 1px solid $primary;
  }

  &:active {
    border: 1px solid transparent;
    color: $additional-100;
  }

  &--disabled,
  &--disabled:hover,
  &--disabled:focus,
  &--disabled:active {
    color: $disabled;
    cursor: default;
    outline: none;
    border: 1px solid transparent;
  }

  @media (min-width: $desctop) {
    font-size: 16px;
  }
}

.footer__nav-item:nth-of-type(3) .footer__nav-link {
  @media (min-width: $tablet) {
    margin-left: 1px;
  }
}

.footer__nav-item:nth-of-type(6) .footer__nav-link {
  @media (min-width: $tablet) {
    margin-left: 4px;
  }
}

.footer__tel {
  display: none;
  transition: all 0.2s ease;

  &:hover {
    color: $additional-20;
  }

  &:focus {
    color: $additional-100;
  }

  @media (min-width: $desctop) {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: $primary;
    padding-left: 55px;
  }
}

.footer__social {
  margin: 0 0 23px;

  @media (min-width: $tablet) {
    margin: 0 0 34px;
  }

  @media (min-width: $desctop) {
    margin: 0 0 22px;
  }
}

.footer__copyright {
  display: block;
  font-family: $montserrat;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: $primary;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }

  &--disabled {
    opacity: 0.2;
    outline: none;
  }

  @media (min-width: $tablet) {
    margin-left: -3px;
  }
}
