.form {
  background-image:
    image-set(
      url("../../img/form-mob@1x.webp") type("image/webp") 1x,
      url("../../img/form-mob@2x.webp") type("image/webp") 2x,
      url("../../img/form-mob@1x.png") type("image/png") 1x,
      url("../../img/form-mob@2x.png") type("image/png") 2x
    );
  background-repeat: no-repeat;
  background-color: rgb(41, 46, 39);
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet) {
    background-image:
      image-set(
        url("../../img/form-tab@1x.webp") type("image/webp") 1x,
        url("../../img/form-tab@2x.webp") type("image/webp") 2x,
        url("../../img/form-tab@1x.png") type("image/png") 1x,
        url("../../img/form-tab@2x.png") type("image/png") 2x
      );
  }

  @media (min-width: $desctop) {
    background-image:
      image-set(
        url("../../img/form-desc@1x.webp") type("image/webp") 1x,
        url("../../img/form-desc@2x.webp") type("image/webp") 2x,
        url("../../img/form-desc@1x.png") type("image/png") 1x,
        url("../../img/form-desc@2x.png") type("image/png") 2x
      );
  }
}

.form__wrapper {
  margin: 0 auto;
  padding: 176px 31px 175px;
  color: $white-100;
  text-align: center;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 204px;
    min-height: 680px;
  }

  @media (min-width: $desctop) {
    padding: 100px 240px;
    min-height: 760px;
    max-width: 1440px;
  }
}

.form__wrapper h2 {
  font-weight: 800;
  font-size: 22px;
  line-height: 100%;
  margin: 0 0 18px;

  @media (min-width: $tablet) {
    font-size: 25px;
    margin: 2px 0 24px;
  }

  @media (min-width: $desctop) {
    font-size: 35px;
    margin: 4px 0 17px;
  }
}

.form__wrapper p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  margin: 0 0 20px;

  @media (min-width: $tablet) {
    font-size: 16px;
    margin: 0 2px 24px 0;
  }

  @media (min-width: $desctop) {
    margin: 0 0 38px;
  }
}

.form__wrapper p br {
  @media (min-width: $tablet) {
    display: none;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: $tablet) {
    gap: 11px;
  }

  @media (min-width: $desctop) {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}

.form__input-wrapper {
  position: relative;
  display: grid;
}

.form__label {
  position: absolute;
  top: 17px;
  left: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgba(45, 56, 63, 0.5);

  @media (min-width: $tablet) {
    top: 20px;
    left: 30px;
  }
}

.form__input {
  font-family: $montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgba(45, 56, 63, 0.5);
  background-color: $white-100;
  outline: 1px solid $additional-20;
  border: none;
  padding: 15px;
  transition: all 0.2s ease;

  &:hover {
    outline: 1px solid $additional-100;
  }

  &:focus-visible {
    outline: 1px solid $primary;
  }

  &:focus-visible + .form__label {
    color: transparent;
  }

  &:disabled {
    outline: 1px solid $disabled;
  }

  &:disabled + .form__label {
    color: rgba(153, 153, 153, 0.5);
  }

  &::placeholder {
    color: rgba(2, 102, 193, 0.5);
    opacity: 0;
  }

  &:focus-visible::placeholder {
    opacity: 1;
  }

  &--error {
    outline: 1px solid $error;
    color: rgba(45, 56, 63, 0.5);
  }

  @media (min-width: $tablet) {
    padding: 18px;
  }

  @media (min-width: $tablet) {
    min-width: 360px;
  }
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
  appearance: none;
}

.form__input[type="number"] {
  appearance: textfield;
}

.form__button {
  padding: 21px 33px 20px;
  margin: 1px 1px 0;

  @media (min-width: $tablet) {
    min-width: 180px;
    padding: 21px 34px 19px;
  }
}
