.gallery__wrapper {
  margin: 0 auto;
  padding: 35px 0 3px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 600px 123px;
    justify-content: space-between;
    padding: 60px 0 3px;
  }

  @media (min-width: $desctop) {
    padding: 123px 0 3px;
  }
}

.gallery__title {
  margin: 0 15px 27px;

  @media (min-width: $tablet) {
    margin: 0 45px 30px;
  }

  @media (min-width: $desctop) {
    margin: 0 120px 23px;
  }
}

.gallery__wrapper p {
  margin: 0 15px 31px;

  @media (min-width: $tablet) {
    grid-column: 1/2;
    width: 420px;
    font-size: 14px;
    line-height: 157%;
    margin: 0 45px 21px;
  }

  @media (min-width: $desctop) {
    font-size: 16px;
    line-height: 150%;
    width: 600px;
    margin: 0 120px 46px;
  }
}

.gallery__wrapper p br {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desctop) {
    display: none;
  }
}

.gallery__list {
  display: flex;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;


  @media (min-width: $tablet) {
    grid-column: 1/3;
  }
}

.gallery__item {
  object-fit: cover;
  height: 266px;
  min-width: 158px;

  &--two {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  @media (min-width: $tablet) {
    height: 418px;
    min-width: 253px;

    &--two {
      gap: 0;
    }
  }

  @media (min-width: $desctop) {
    height: 463px;

  }
}

.gallery__image {
  display: block;
  object-fit: cover;
  height: 266px;

  &--little {
    height: 134px;
  }

  &--little-bottom {
    height: 125px;
  }

  @media (min-width: $tablet) {
    height: 418px;

    &--little {
      height: 217px;
    }

    &--little-bottom {
      height: 201px;
    }
  }

  @media (min-width: $desctop) {
    height: 463px;

    &--little {
      height: 228px;
    }
  }
}

.gallery__button-wrapper {
  margin-right: 45px;

  @media (min-width: $tablet) {
    margin-top: 32px;
  }

  @media (min-width: $desctop) {
    display: none;
  }
}
