.header {
  background-color: $additional-100;
}

.header__wrapper {
  display: grid;
  grid-template-columns: 26px 150px;
  row-gap: 14px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    row-gap: 0;
    padding: 20px 45px;
  }

  @media (min-width: $desctop) {
    grid-template-columns: max-content 1fr max-content;
    padding: 32px 120px;
  }
}

.header__phone {
  grid-column: 2/3;

  @media (min-width: $tablet) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.header__link {
  display: flex;
  justify-content: center;
}

.header__nav {
  @media (min-width: $desctop) {
    display: block;
  }
}
