.header {
  background-color: $additional-100;
}

.header__wrapper {
  display: grid;
  grid-template-columns: 26px 150px;
  row-gap: 14px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px;
}

.header__phone {
  grid-column: 2/3;
}
