.hero {
  background-color: $additional-100;
  color: $white-100;
}

.hero__wrapper {
  position: relative;
}

.hero__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.hero__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 568px;
  min-width: 320px;
  position: relative;
  text-align: center;
  padding: 40px 15px 56px;

  @media (min-width: $tablet) {
    min-height: 1034px;
    min-width: 768px;
    justify-content: flex-start;
    padding: 342px 15px 80px;
  }

  @media (min-width: $desctop) {
    min-height: 800px;
    min-width: 1440px;
    text-align: left;
    padding: 200px 120px 0;
  }
}

.hero__item h2 {
  font-weight: 800;
  font-size: 26px;
  line-height: 100%;
  margin: 0 0 15px;

  @media (min-width: $tablet) {
    font-weight: 800;
    font-size: 56px;
    line-height: 100%;
  }

  @media (min-width: $desctop) {
    font-size: 77px;
    margin: 0 0 25px;
  }
}

.hero__item p {
  font-size: 15px;
  line-height: 133%;
  margin: 0 0 60px;

  @media (min-width: $tablet) {
    width: 480px;
    font-size: 17px;
    line-height: 141%;
    margin: 0 auto 35px;
  }

  @media (min-width: $desctop) {
    width: 470px;
    margin: 0 0 35px;
  }
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero__item-content {
  position: relative;
  z-index: 2;

  @media (min-width: $desctop) {
    width: 780px;
  }
}

.hero__pagination-list {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 2;

  @media (min-width: $desctop) {
    bottom: 92px;
    left: auto;
    right: 120px;
    transform: translateX(0);
  }
}

.hero__pagination-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid $white-100;
  transition: all 0.2s ease;
  cursor: pointer;

  &--current {
    background-color: $white-100;
  }

  @media (min-width: $tablet) {
    width: 20px;
    height: 20px;
  }
}

.hero__link {
  @media (min-width: $desctop) {
    margin-bottom: 134px;
  }
}
