.instructors__wrapper {
  margin: 0 auto;
  padding: 0 15px 20px;
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 400px 76px;
    justify-content: space-between;
    padding: 0 45px 40px;
  }

  @media (min-width: $desctop) {
    padding: 0 120px 40px;
  }
}

.instructors__title {
  margin-bottom: 23px;

  @media (min-width: $tablet) {
    margin-bottom: 10px;
  }
}

.instructors__list {
  display: flex;
  gap: 20px;
  margin: 0 0 25px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    grid-column: 1/3;
    gap: 20px;
  }

  @media (min-width: $desctop) {
    margin: 0 0 56px;
  }
}

.instructors__item {
  display: grid;
  grid-template-columns: 145px 26px;
  justify-content: space-between;
  gap: 14px;
  min-width: 290px;
  padding: 14px 14px 13px;
  border: 1px solid $additional-20;
  background-color: $white-100;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 26px;
    min-width: 212px;
    min-height: 388px;
  }

  @media (min-width: $desctop) {
    min-width: 285px;
    min-height: 356px;
  }
}

.instructors__item picture {
  grid-column: 1/3;
}

.instructors__image {
  display: block;

  @media (min-width: $tablet) {
    width: 182px;
    height: 200px;
  }

  @media (min-width: $desctop) {
    width: 255px;
  }
}

.instructors__item h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  margin: 0;

  @media (min-width: $desctop) {
    width: 145px;
  }
}

.instructors__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(45, 56, 63, 0.3);
  margin-left: 2px;

  @media (min-width: $tablet) {
    width: 25px;
  }

  @media (min-width: $desctop) {
    width: 24px;
  }
}

.instructors__item p {
  grid-column: 1/3;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
}

.instructors__button-wrapper {
  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media (min-width: $desctop) {
    margin-bottom: 20px;
  }
}
