.page {
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  display: flex;
  flex-direction: column;
  font-family: $montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: $primary;
  background-color: #ffffff;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 320px;

  @media (min-width: $tablet) {
    background-image:
      image-set(
        url("../../img/clouds-tab-1@1x.webp") type("image/webp") 1x,
        url("../../img/clouds-tab-1@2x.webp") type("image/webp") 2x,
        url("../../img/clouds-tab-1@1x.png") type("image/png") 1x,
        url("../../img/clouds-tab-1@2x.png") type("image/png") 2x
      );
    background-repeat: no-repeat;
    background-position: right 1020px;
  }

  @media (min-width: $desctop) {
    font-size: 14px;
    line-height: 157%;
    background-image:
      image-set(
        url("../../img/clouds-desc-1@1x.webp") type("image/webp") 1x,
        url("../../img/clouds-desc-1@2x.webp") type("image/webp") 2x,
        url("../../img/clouds-desc-1@1x.png") type("image/png") 1x,
        url("../../img/clouds-desc-1@2x.png") type("image/png") 2x
      );
    background-position: right 800px;
  }
}
