.page {
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  display: flex;
  flex-direction: column;
  font-family: $montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: $primary;
  background-color: #ffffff;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 320px;

  @media (min-width: $tablet) {
    // font-size: 16px;
    // line-height: 150%;
  }
}
