.phone {
  text-align: right;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: $white-100;
  text-decoration: none;

  @media (min-width: $tablet) {
    font-size: 16px;
  }

  @media (min-width: $desctop) {
    font-size: 18px;
  }
}
