.slider-control {
  display: flex;
  gap: 4px;

  @media (min-width: $tablet) {
    gap: 5px;
  }
}

.slider-control__button {
  position: relative;
  display: none;
  width: 37px;
  height: 35px;
  background-color: $additional-100;
  border: none;
  outline: 1px solid $additional-100;
  cursor: pointer;
  transition: all 0.2s ease;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 9px;
    mask-image: url("/__spritemap#sprite-icon-arrow-view");
    background-color: $white-100;
  }

  &--prev::after {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  &:hover {
    background-color: $white-100;
    outline: 1px solid $active;
  }

  &:hover::after {
    background-color: $active;
  }

  &:focus-visible {
    background-color: $white-100;
    outline: 1px solid $white-100;
  }

  &:focus-visible::after {
    background-color: $active;
  }

  &:active {
    background-color: $active;
    outline: 1px solid $active;
  }

  &:active::after {
    background-color: $white-100;
  }

  &--disabled,
  &--disabled:hover,
  &--disabled:focus-visible,
  &--disabled:active {
    background-color: $disabled;
    cursor: default;
    outline: 1px solid $disabled;
  }

  &--disabled:hover::after,
  &--disabled:focus-visible::after,
  &--disabled:active::after {
    background-color: $white-100;
  }

  @media (min-width: $tablet) {
    display: block;
    height: 34px;
  }
}
