.social {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 0;
  list-style: none;

  @media (min-width: $desctop) {
    gap: 15px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 30px;
  border: 1px solid rgba(45, 56, 63, 0.3);
}
