.title {
  position: relative;
  font-weight: 800;
  font-size: 22px;
  line-height: 100%;
  color: $primary;
  margin: 0;

  &::after {
    position: absolute;
    content: attr(data-title);
    top: -16px;
    left: 0;
    font-weight: 800;
    font-size: 26px;
    line-height: 100%;
    color: $primary;
    opacity: 0.03;
  }

  @media (min-width: $tablet) {
    font-size: 25px;

    &::after {
      font-size: 40px;
      top: -20px;
    }
  }

  @media (min-width: $desctop) {
    font-weight: 800;
    font-size: 35px;
    line-height: 100%;

    &::after {
      font-size: 55px;
      top: -19px;
    }
  }
}
