.training__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  margin: 0 0 24px;

  @media (min-width: $tablet) {
    font-size: 18px;
    margin: 0 0 104px;
  }

  @media (min-width: $desctop) {
    font-size: 21px;
    margin: 0 0 23px;
  }
}

.training__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
  padding: 0 0 0 29px;
  list-style: none;

  &::after {
    position: absolute;
    content: "";
    top: 13px;
    left: 6px;
    width: 2px;
    height: 88%;
    background-color: $additional-100;
  }

  @media (min-width: $tablet) {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 232px 272px;
    grid-column: 1/3;
    gap: 104px;
    font-size: 14px;
    line-height: 157%;
    padding: 0;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desctop) {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    font-size: 16px;
    line-height: 150%;

    &::after {
      display: block;
      width: 100%;
      height: 2px;
      top: auto;
      bottom: -6px;
      left: 9px;
    }
  }
}

.training__item {
  position: relative;
  width: 235px;
  padding: 0 0 0 34px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translate(-29px, -50%);
    width: 14px;
    height: 14px;
    background-color: $additional-100;
    border-radius: 50%;
  }

  &--map::before {
    background-image: url("/__spritemap#sprite-icon-map-view");
  }

  &--equipment::before {
    background-image: url("/__spritemap#sprite-icon-boot-view");
  }

  &--eco::before {
    background-image: url("/__spritemap#sprite-icon-trees-view");
  }

  &--mountains::before {
    background-image: url("/__spritemap#sprite-icon-mountain-view");
  }

  @media (min-width: $tablet) {
    width: auto;
    padding: 0 0 0 35px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desctop) {
    width: 253px;
    padding: 0 0 0 35px;

    &::after {
      display: block;
      left: 37px;
      top: auto;
      bottom: -19px;
    }

    &::before {
      left: 0;
    }
  }
}

.training__item--equipment {
  @media (min-width: $tablet) {
    grid-column: 1/2;
  }
}

.training__item--eco {
  @media (min-width: $tablet) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.training__item--mountains {
  @media (min-width: $tablet) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
